* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jokerman";
}

body {
    background-image: url(bleu.jpg);
}

.container {
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menuleft menuleft menu menu menuright menuright"
        "left main main main main right"
        "left main main main main right"
        "left main main main main right";
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.left {
    grid-area: left;

}

.menu {
    grid-area: menu;
}
#logolinksdiv{
    height: 63px;
    grid-area: menuleft;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #4ab8e3;
    border-bottom: 1px solid #4ab8e3;
    background-color: rgb(71, 138, 193);
    padding: 5px;
}

#logolinks {
    background-image: url("../blije_dobbelsteen_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 53px;

}
#logorechts{
    grid-area: menuright;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #4ab8e3;
    border-bottom: 1px solid #4ab8e3;
    background-color: rgb(71, 138, 193);
    height: 63px;

}

.menu {
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #4ab8e3;
    border-bottom: 1px solid #4ab8e3;
    background-color: rgb(71, 138, 193);
    height: 63px;
}

.menu a {
    color: #000000;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 29px;

}

.menu a:hover {
    color: #c5dce6;
}



.menu li a {
    position: relative;
    top: 6px;
    right: 42px;
}

.logo {
    position: relative;
    float: left;
    bottom: 13px;

}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav a {
    display: inline-block;
    padding: 10px;
}

li {
    display: inline;
}


.main {
    border: 1px solid #4ab8e3;
    background-color: rgb(239, 244, 248);
    border-width: 13px;
    text-align: center;

}

.foto{
    position: absolute;
    left: 10%;
    top: 24%;
    width: 30%;
}

/*.formulier{*/
/*    position: relative;*/
/*    left: 60%;*/
/*    margin-top: 10%;*/
/*    margin-bottom: 10%;*/
/*    top: 10%;*/
/*}*/

.fname{
    width: 30%; /* Full width */
    padding: 6px; /* Some padding */
    font-family: Comic Sans MS;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical
}

input[type=submit] {
    background-color:purple;
    background-image: linear-gradient(to right, purple , cyan);;
    color: white;
    font-size: 20px;
    padding: 10px 57px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Comic Sans MS;
  }
  .vragen{
    width: 30%; /* Full width */
    padding: 6px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    font-family: Comic Sans MS;
  }

label {
    font-family: Comic Sans MS;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "title title title title"
    "foto form form form"
    "foto form form form";
}

#formulier{
    grid-area: form;
    margin-top: 4.5rem;
}
#foto{
    grid-area: foto;
}
#title{
    grid-area: title;
}

.main>p{
    margin-top: 5rem;
    font-family: Comic Sans MS;
}

.main>div>a{
    font-family: Comic Sans MS;
}

.containerForGames {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "SET SNAKE";
}
#SET {
    grid-area: SET;
    background-image: url("Plaatjes/SETGAMEplaatje.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
}

#SNAKE {
    grid-area: SNAKE;
    background-image: url("snakegame/snakeplaatje.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
    /*VOEG HIER NOG EVEN JE STYLING VAN HET PLAATJE TOE, WORDT ALS HET GOED IS AL GECENTERED*/
}

.SETPOS{
    display: flex;
    justify-content: center;

}
#score{
    font-family: Comic Sans MS;
}

.insta img {
    width: 30px;
}
.face img {
    width: 30px;
}

.gebouw img{
 width: 26rem;
}